[user]
	email = Hunter@werlla.com
	name = Hunter Werlla
[core]
	editor = nvim
[credential]
	helper = cache --timeout=300000
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	rmc  = rm --cache
